.wrapper2{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contenedorAll{
    padding-top: 60px;
}

.linkHome{
    display: inline-block;
    height: 100px;
    width: 280px;    
    overflow: hidden;
    text-decoration: underline;
    background-image: url("../images/logo_blanco_small.png");
    background-repeat: no-repeat;

}

/* mobile */
@media(max-width: 320px) {
    .linkHome {
        width: 10px;
        height: 10px;
    }
    
}
    
/* Tablet */
@media(max-width: 768px) {
    .contenedorForm {
        width: 80%;
    }
}

/* Desktop */
@media(max-width: 1024px) {
    
}