.wrapper2{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.contenedorForm{
    background-color: #ffffff;
    width: 430px;
    border-radius: 8px;
    padding: 0px;
}
.submitContenedorLogin{
    margin-top: 20px;
}

.contenedorAll{
    padding-top: 60px;
}

.textEmail{
    color: white;
    text-align: center;
    font-size: 15px;
}

.textEmail2{
    color: white;
    text-align: center;
    font-size: 30px;
}


.alerts{
    position: absolute;
    left: 100%;
    width: 100%;
    margin: 0 auto;
}


.contenedorMain{
    padding: 0px;
}
.formularioLogin label{
    font-size: 13px;
}
.formularioLogin {
    padding: 30px;
    padding-top: 20px;
}

.separador{
    margin: 10px 0px;
    padding: 8px;
}
.submitLogin{
    font-size: 16px;
}
.footerLogin{
    text-align: center;
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 2px;
    border-radius: 8px;
}
.separadorInferior{
    margin-top: 0px;
    margin-bottom: 0px;
    border: #000 2px transparent;    
}
.linkRegistroLogin{
    text-decoration: underline;
}
.linkHome{
    display: inline-block;
    height: 100px;
    width: 280px;    
    overflow: hidden;
    text-decoration: underline;
    background-image: url("../images/logo_blanco_small.png");
    background-repeat: no-repeat;

}

.containerLink{
    text-align: center;
    margin-bottom: 35px;
}
.formModal{
    margin-top: 25px;
}
.submitModal{
    margin-top: 10px;
}
.tituloForm{
    padding-top: 20px;
    line-height: 1.5;
    font-size: 24px;
    margin-bottom: 0px;
    border-radius: 8px;
    text-align: center;

}
.textContrasena{
    color: white;
    text-decoration: underline;
    text-align: center;
    margin-top: 15px;
}

.textContrasena {
    color: white;
}


/* mobile */
@media(max-width: 320px) {
    .linkHome {
        width: 10px;
        height: 10px;
    }
    
}
    
/* Tablet */
@media(max-width: 768px) {
    .contenedorForm {
        width: 80%;
    }
}

/* Desktop */
@media(max-width: 1024px) {
    
}