.p-home-page {

    padding-top: 30px;

    .hp-header {
        display: flex;
        flex-direction: row;

        .re {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            height: 288px;
            text-align: center;
            color:white;
            overflow: hidden;
            img {
                width: 50%;
            }
            p {
                text-align: justify;
            }
        }

        .tarj {
            text-align: center;
            width: 50%;
            height: 288px;
        }
    }

    .hp-body {
        padding-top: 40px;
        h2 {
            text-align: center;
            display: block;
            color: white;
            font-size: 34px;
        }
        .benefs {
            padding: 20px 200px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            a {
                text-align: center;
                width: 33%;
            }
        }
    }
}