* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.l-home-layout {
    .header {
        background-color: blue;
        width: 100%;
        height: 80px;
    }
    .l-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;
        .l-nav {
            background-color: red;
            width: 250px;
            height: 100%;
        }
        .l-main {
            width: calc( 100% - 250px );
            padding:0 50px;
            border-top: 5px solid white;
            height: 100%;
        }
    }
}